.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.img {
  position: relative;
  object-fit: cover;
  width: 1155px;
  height: 640px;
  flex-shrink: 0;
}
